body {
    background-image: url('../assets/assets/img/1704352747174.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

body.sobre-mi {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-page-image {
    background-image: url('../assets/assets/img/1704352747174.jpeg'); /* Update the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h3 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

header, nav, section{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

header img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #436281;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center; /* Centrar el menú en pantallas grandes */
}

.navbar-toggle {
    display: none;
}

.navbar-icon {
    display: none;
    background-color: #436281;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar el menú en pantallas grandes */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-icon {
        display: block;
        position: absolute;
        left: 10px; /* Posicionar el icono de menú hamburguesa a la izquierda */
        top: -2px; /* Mover el icono un poco más arriba */
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #436281;
        position: absolute;
        top: 40px; /* Reducir la altura del desplegable */
        left: 0;
    }
    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 0px 0; /* Reducir el espacio entre los elementos del menú */
    }
    .navbar-toggle:checked + .navbar-icon + ul {
        display: flex;
    }
}


.gallery-img {
    width: 100%;
    height: auto;
    margin: 10px;
}

.recetas-img {
    width: 40%;
    height: auto;
    margin: 10px;
}

.logo-img {
    width: 10%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    display: inline;
    box-sizing: border-box;
    position: relative;
    right: 680px;
    bottom: 148px;
    z-index: 100;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

header, nav, section {
    padding: 20px;
    margin: 5px;
}

header {
    background-color: #f6fafb;
    text-align: center;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
    line-height: 1.6;
}

section img {
    display: block;
    margin: 0 auto;
    width: 100%; /* Ajusta este tamaño según sea necesario */
    height: auto;
    border-radius: 10px;
}

.content {
    flex: 1 0 auto;
}
footer {
    background-color: rgb(255, 252, 252);
    color: rgb(16, 9, 9);
    text-align: center;
    width: 100%;
    padding: 5px;

    bottom: 0;
    left: 0px ;
    flex-shrink: 0;
}

footer .social-icons a {
    margin: 0 10px;
    color: rgb(16, 9, 9);
}

footer .social-icons a:hover {
    color: #007bff;
}

h1 {
    background-color: #040b11;
    color: rgb(167, 6, 6);
    padding: 20px;
    margin: 0;
}

img {
    width: 40%; /* Ajusta todas las imágenes para que sean del mismo tamaño */
    height: auto;
    border-radius: 10px;
}

.gallery-img {
    width: 40%; /* Ajusta el tamaño de todas las imágenes uniformemente */
    height: auto;
    border-radius: 10px;
}

.position-relative {
    position: relative;
    left: 25px;
}

.recetas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.recetas-img {
    width: 100%;
    height: auto;
}

.recetas-item {
    text-align: center;
}

.restaurante-item {
    position: relative;
    text-align: center;
    color: white;
}

.restaurante-item img {
    width: 100%;
    height: auto;
}

.restaurante-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.restaurante-item a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.header-class-cursos .header-image {
    position: relative;
    width: 100%;
    height: auto;
}

.header-class-cursos .header-image img {
    width: 100%;
    height: auto;
}

.header-class-cursos .header-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
}

.header-class-cursos section {
    text-align: center;
    margin-bottom: 20px;
}

.header-class-cursos section p {
    margin-bottom: 10px;
}

.header-class-cursos section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.header-class-cursos section a:hover {
    background-color: #0056b3;
}

.carousel-inner img {
    height: 400px; /* Ajusta este valor a la altura de la segunda imagen */
    object-fit: cover;
    width: 100%;
}
iframe {
    width: 100%;
    height: auto;
}

