footer {
    background-color: rgb(255, 252, 252);
    color: rgb(16, 9, 9);
    text-align: center;
    width: 100%;
    padding: 5px;
    bottom: 0;
    left: 0px;
    flex-shrink: 0;

    .social-icons a {
        margin: 0 10px;
        color: rgb(16, 9, 9);

        &:hover {
            color: $secondary-color;
        }
    }
}
 /* prueba 1000 */