header {
    background-color: #f6fafb;
    text-align: center;
    padding: 20px;
    margin: 5px;
    
    img {
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
