nav {
    background-color: #436281;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center; /* Centrar el menú en pantallas grandes */
}

.navbar-toggle {
    display: none;
}

.navbar-icon {
    display: none;
    background-color: #436281;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar el menú en pantallas grandes */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-icon {
        display: block;
        position: absolute;
        left: 10px; /* Posicionar el icono de menú hamburguesa a la izquierda */
        top: -2px; /* Mover el icono un poco más arriba */
        z-index: 999;
        
    
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        top: 40px; /* Reducir la altura del desplegable */
        left: 0;
    }
    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 0px 0; /* Reducir el espacio entre los elementos del menú */
    }
    .navbar-toggle:checked + .navbar-icon + ul {
        display: flex;
    }
    
}